<%= form_with(model: profile, local: true) do |form| %>
  <% if @profile.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(profile.errors.count, "error") %> prohibited please try again later:</h2>

      <ul>
      <% profile.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :image %><br>
    <%= form.file_field :image %><br>
  </div>
  <div class="field">
   <% if user_signed_in? %>
   <%= form.hidden_field :user_id, value: current_user.id %>
   <% end %>
  </div>
  <hr>
  <div class="actions">
    <%= form.submit class:'btn btn-secondary' %>
  </div>
<% end %>
</div>
</div>
<div class="right">

<% if user_signed_in? %>
    
    <% if current_user.profile == nil %>
    <p><%= image_tag 'pro4.png', class:"rounded-circle" %></p>
    <% else %>
    <% if current_user.profile.image? %>        
      <p><%= image_tag current_user.profile.image.url, class:"rounded-circle" %>
      <%= current_user.email %>
      </p>    
     <% end %> 
    <% end %>
  <% end %>
  <%= link_to 'Back-Home', posts_path, class:"btn btn-secondary" %>  
</div>
</div>

