<div class="main">
  <div class="left">
    <p id="notice"><%= notice %></p>
  </div>

  <div class="content">
    <h1>Posts You Have Favorited</h1>

    <% @favorites.each do |favorite| %>
      <div class="new">
      
        <% if favorite.user_id == current_user.id %>
          &nbsp You liked <%= favorite.post.user.email %>'s Post &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp
          &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp 
          Post image:<%= image_tag favorite.post.image.url, style:"width:150px;height:120px" %>
        <% end %>
      </div>
      <% end %>
  </div>

  <div class="right">
    <% if user_signed_in? %>
      <% if current_user.profile == nil %>
        <p><%= image_tag 'pro4.png', class:"rounded-circle" %>
        <%= current_user.email %>
        </p>
        <% else %>
        <% if current_user.profile.image? %>        
          <p><%= image_tag current_user.profile.image.url, class:"rounded-circle" %>
          <%= current_user.email %>
          </p>    
        <% end %> 
      <% end %>
    <% end %>
    <%= link_to 'New Post', new_post_path, class:"btn btn-seccondary" %> 
    <%= link_to 'Back-Home', posts_path, class:"btn btn-secondary" %>  
  </div>
</div>
