<div class="main">
<div class="left">
<p id="notice"><%= notice %></p>
</div>

<div class="content">
<div class="new-edit">
<p id="notice"><%= notice %></p>

<p>
  <strong>Content:</strong>
  <%= @post.content %>
</p>

<p>
  <%= image_tag @post.image.url, style:"max-width:100%" %>
</p>
<% unless @post.user_id == current_user.id %>
  <% if @favorite.present? %>
    <%= link_to 'Cancel favorite', favorite_path(id: @favorite.id), method: :delete, class: 'btn btn-danger' %>
  <% else %>
    <%= link_to 'Make it a favorite', favorites_path(post_id: @post.id), method: :post, class: 'btn btn-primary' %>
  <% end %>
<% end %>

</div>
</div>
<div class="right">

<% if user_signed_in? %>
    
    <% if current_user.profile == nil %>
    <p><%= image_tag 'pro4.png', class:"rounded-circle" %></p>
    <% else %>
    <% if current_user.profile.image? %>        
      <p><%= image_tag current_user.profile.image.url, class:"rounded-circle" %>
      <%= current_user.email %>
      </p>    
     <% end %> 
    <% end %>
  <% end %>
  <%= link_to 'Back-Home', posts_path, class:"btn btn-secondary" %>  
</div>
</div>


